:root{
    --cor-fundo:#0748;
    --cor-principal:#FCF2E5;
    --cor-secundaria:#A8A492;
   --cor-destaque:#EC5B38;
   --cor-texto:#1B5E20;
}

body{
background-color:var(--cor-fundo);
color:var(--cor-texto);
display: flex;
align-items: center;
justify-self:center;
min-height: 100vh;

}